@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+TAS+Beginner:wght@700&family=Fascinate+Inline&family=Gentium+Plus:wght@700&family=Inconsolata&family=Lobster&family=Poppins:ital,wght@0,300;1,300&family=Yeon+Sung&display=swap");
.Cart-section .heading {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 1.2rem;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  letter-spacing: 3px;
}
.Cart-section .cart-list {
  width: 70%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.Cart-section .cart-list .cart-item-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.Cart-section .cart-list .cart-item-image-and-details {
  display: flex;
  margin: 0 0.9rem;
}
.Cart-section .cart-list .cart-item-image-and-details h2 {
  margin: 0 0.8rem;
}
.Cart-section .cart-list .cart-item-image-and-details h2 span {
  font-weight: bolder;
}
.Cart-section .cart-list .cart-item-image-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.Cart-section .cart-list .cart-item-details {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.Cart-section .cart-list .cart-item-details span {
  font-weight: 100;
  margin-left: 10px;
}
.Cart-section .cart-list .actions {
  text-align: right;
}
.Cart-section .cart-list .actions button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: no;
  cursor: pointer;
  font-size: 1.25rem;
}
.Cart-section .cart-list .quantity button:nth-child(2) {
  margin-left: 20px;
}
.Cart-section .cart-list .quantity span {
  margin: 0.9rem;
}
.Cart-section .cart-list .quantity button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.Cart-section .cart-list .quantity .qty-icon {
  background-color: #000;
  font-size: 1.9rem;
  color: white;
  transition: all 0.3s ease;
  border: none;
}
.Cart-section .cart-list .quantity .qty-icon:hover {
  color: black;
  background-color: white;
}
.Cart-section .cart-list .cart-item-wrapper hr {
  width: 100%;
  height: 2px;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #000));
}
@media only screen and (max-width: 770px) {
  .Cart-section .cart-list .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .Cart-section .cart-list .cart-item-details h2 {
    margin: 0;
  }
}

.grand-total {
  text-align: right;
  font-weight: 900;
}

.ClaerCart-btn {
  margin: auto;
  display: block;
  margin: 1.2rem auto;
  padding: 0.3rem 1.2rem;
  width: 50%;
  border-radius: 13px;
  background-color: white;
  color: red;
  font-size: 1.2rem;
  font-weight: bolder;
  border: 2px solid red;
  transition: all 0.3s ease-in-out;
}
.ClaerCart-btn:hover {
  font-size: 1.4rem;
  color: white;
  background-color: crimson;
  border: 2px solid white;
}/*# sourceMappingURL=Cart.css.map */